<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>

		<script src="{{ url_for('static', path='/js/stringConvert.js') }}"></script>
		<script src="{{ url_for('static', path='/js/file.js') }}"></script>
	</head>
	<body>
		<div class="main-container">
			<div class="filename" id="filename"></div>
			<div class="metadata" id="metadata"></div>
		</div>

		<script defer>
			console.log("{{ file }}");
			generateFile(formatString("{{ file }}"));
		</script>
	</body>
</html>
